@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Montserrat:wght@200&family=Ubuntu:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space;
    font-family: Montserrat;
    background: #3498db;
    height: 5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
label.logo{
    margin-left: 2rem;
    color: white;
    font-size: 35px;
}
ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    color: white;
    font-size: 30px;
    align-items: center;
    margin-right: 4rem;
}
.anc{
    text-decoration: none;
    color: white;
}
.anc:hover{
    background-color: white;
    color: #192e3f;
}
.burger{
height: 2rem;
width: 2rem;
display:none;
cursor: pointer;
margin-right: 3rem;
}
.line1{
    margin: 3px;
    height: 0.27rem;
    width: 1.5rem;
    background-color: white;
}
.line2{
    margin: 3px;
    height: 0.3rem;
    width: 1.5rem;
    background-color: white;
}
.line3{
    margin: 3px;
    height: 0.3rem;
    width: 1.5rem;
    background-color: white;
}
.move{
    z-index: 2;
    transform: translateY(1.5%);
}
@media screen and (max-width: 850px) {
    .burger{
        display: block;
        position: absolute;
        top:25px;
        right: 55px;
        z-index: 1;
    }
    ul{
        z-index: 2;
        transition: all 0.5s ease-in-out;
        margin-top: 35rem;
        flex-direction: column;
        background-color: #3498db;
        width: 40%;
        margin-right: 0rem;
        height: 30rem;
        transform: translateY(-115%);
    }
    ul li:first-child{
        margin-top: 5rem;
    }
  }